/*BrandMirror Stylesheet*/
/*Written by: Hemant Dutta https://github.com/HemantDutta*/

/*Z-index Chart*/
/*Nav: 115*/
/*Nav-Menu: 120*/
/*Hero: 100*/
/*About: 100*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --cs-1: #FFA1F5;
    --cs-2: #BC7AF9;
    --cs-3: #F8FF95;
    --cs-4: #A6FF96;
    --text-grey: #868686;
}

a,
button {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding: 0 80px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

@media screen and (max-width: 991px) {
    body {
        padding: 0 55px;
    }
}

@media screen and (max-width: 490px) {
    body {
        padding: 0 32px;
    }
}

@media screen and (max-width: 350px) {
    body {
        padding: 0 10px;
    }
}

/*==========Common CSS==========*/

.gradient-text {
    background: linear-gradient(90deg, var(--cs-1), var(--cs-2), var(--cs-3), var(--cs-4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradAnim 5s infinite ease alternate;
}

@keyframes gradAnim {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 50%;
    }
}

.gradient-hover:hover {
    background: linear-gradient(90deg, var(--cs-1), var(--cs-2), var(--cs-3), var(--cs-4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradAnim 5s infinite ease alternate;
}

.cali {
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
}

/*==========Common CSS End==========*/


/*==========Navbar==========*/

nav {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    z-index: 115;
}

nav .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

nav .navbar-container .navbar-right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 42px;
    font-size: 24px;
    color: white;
}

nav .navbar-container .navbar-right > * {
    background-color: #000;
    border-radius: 50px;
}

nav .navbar-container .navbar-right .contact {
    display: flex;
    align-items: center;
    gap: 24px;
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    width: 200px;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    nav .navbar-container .navbar-right .contact {
        display: none;
    }
}

nav .navbar-container .navbar-right .contact .text {
    display: flex;
    flex-direction: column;
    transform: translateY(25%);
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}

nav .navbar-container .navbar-right .contact .text:hover {
    transform: translateY(-25%);
}

nav .navbar-container .navbar-right .ham-menu {
    cursor: pointer;
    height: 50px;
    display: grid;
    place-items: center;
    z-index: 120;
    transition: all 0.2s ease;
    width: 80px;
}

@media screen and (max-width: 490px) {
    nav .navbar-container .navbar-right .ham-menu {
        width: 60px;
        font-size: 18px;
    }
}

nav .navbar-container .navbar-right .menu {
    position: absolute;
    right: -5%;
    top: -5%;
    min-height: 250px;
    width: 250px;
    display: none;
    flex-direction: column;
    padding: 48px 32px 32px;
    gap: 10px;
    z-index: 115;
    transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
}

nav .navbar-container .navbar-right .menu.open {
    transform: scale(1);
    opacity: 1;
}

nav .navbar-container .navbar-right .menu a {
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

nav .navbar-container .navbar-right .menu a i {
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.2s ease;
}

nav .navbar-container .navbar-right .menu a:hover i {
    opacity: 1;
    transform: translateX(0);
}

@media screen and (max-width: 991px) {
    nav .navbar-container .navbar-right .menu {
        right: -15%;
        top: -10%;
    }
}

nav .navbar-container .navbar-left {
    position: relative;
}

nav .navbar-container .navbar-left span {
    font-size: 56px;
    font-weight: bold;
}

nav .navbar-container .navbar-left span:nth-child(1) {
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 115;
}

nav .navbar-container .navbar-left span:nth-child(2) {
    position: relative;
    z-index: 120;
}

@media screen and (max-width: 600px) {
    nav .navbar-container .navbar-left span {
        font-size: 42px;
    }
}

@media screen and (max-width: 420px) {
    nav .navbar-container .navbar-left span {
        font-size: 32px;
    }
}

@media screen and (max-width: 300px) {
    nav .navbar-container .navbar-left span {
        font-size: 28px;
    }
}

/*==========Navbar End==========*/


/*==========Home==========*/

/* Home -> Hero */

.home .hero {
    position: relative;
    z-index: 100;
}

.home .hero .hero-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 56px 0;
}

@media screen and (max-width: 991px) {
    .home .hero .hero-container {
        flex-direction: column;
        gap: 32px;
    }
}

.home .hero .hero-container > * {
    flex: 1;
}

.home .hero .hero-container .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 16px;
}

.home .hero .hero-container .hero-left .header {
    font-size: 156px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: -10px 10px var(--cs-1), -20px 20px var(--cs-2), -30px 30px var(--cs-3), -40px 40px var(--cs-4);
}

@media screen and (max-width: 690px) {
    .home .hero .hero-container .hero-left .header {
        font-size: 126px;
    }
}

@media screen and (max-width: 555px) {
    .home .hero .hero-container .hero-left .header {
        font-size: 106px;
    }
}

@media screen and (max-width: 420px) {
    .home .hero .hero-container .hero-left .header {
        font-size: 76px;
    }
}

.home .hero .hero-container .hero-left .tag {
    font-size: 20px;
    color: var(--text-grey);
}

.home .hero .hero-container .hero-left .tag span.gradient-text {
    font-size: 24px;
    font-weight: bold;
}

.home .hero .hero-container .hero-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.home .hero .hero-container .hero-right button {
    background-color: var(--cs-1);
    border: none;
    font-size: 32px;
    color: white;
    padding: 16px 24px;
    border-radius: 50px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.home .hero .hero-container .hero-right button:hover {
    background-color: var(--cs-2);
}

.home .hero .hero-container .hero-right button:active {
    scale: 0.95;
}

/* Home -> Hero End*/

/* Home -> About*/

.about {
    position: relative;
    z-index: 100;
    padding: 56px 32px;
    background-color: #000;
    border-radius: 50px;
}

.about .about-container .header {
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.about .about-container .about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 56px 0;
    gap: 32px;
    color: white;
    font-size: 24px;
    letter-spacing: 4px;
    text-align: center;
}

.about .about-container .about-grid .about-item.text:nth-child(1) {
    grid-column: 1/2;
}

.about .about-container .about-grid .about-item.text:nth-child(3) {
    grid-column: 2/3;
}

.about .about-container .about-grid .about-item.text:nth-child(5) {
    grid-column: 3/-1;
}

.about .about-container .about-grid .about-item.img:nth-child(2) {
    grid-column: 3/-1;
    rotate: -2deg;
}

.about .about-container .about-grid .about-item.img:nth-child(4) {
    grid-column: 1/2;
    rotate: 2deg;
}

.about .about-container .about-grid .about-item.img {
    height: 300px;
    border-radius: 50px;
}

.about .about-container .about-grid .about-item.img img {
    object-fit: cover;
    width: 80%;
    height: 100%;
    border-radius: 50px;
}

/* Home -> About End*/

/*==========Home End==========*/